<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Fort Awesome -->
    <!--<script src="https://use.fortawesome.com/98980ce8.js"></script>-->

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,800' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <!--<link rel="stylesheet" href="bower_components/concise/dist/concise.min.css">
    <link rel="stylesheet" href="assets/style/logos.css">
    <link rel="stylesheet" href="assets/style/goodrating.css">-->
    <script src="../../bower_components/vue/dist/vue.min.js"></script>
  </head>
  <body>

    <h1 class="hello">Test Harness (integration) App</h1>

    <div id="testharness">
      <label>Add passphrase</label>
      <input v-model="passphrase" type="password" placeholder="Enter test passphrase" />
      <p>{{ passphrase }}</p>
      <p>{{ setPassphraseTestResult }}</p>
      <button v-on:click="setPassphraseTest">Test Passphrase</button>
    </div>
    
    <script src="test.js"></script>
  </body>
</html>