<!DOCTYPE html>
<html lang="en" ng-app="sh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='assets/fonts/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="bower_components/concise/dist/concise.min.css"></script>
    <link rel="stylesheet" href="assets/style/sh.css">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
  </head>
  <body>

    <!-- Toolbar -->
    <div class="toolbar container">
      <div class="side" ng-controller="navController">
        <p class="navlink"><a href="#/"><i class="fa fa-hand-spock-o" aria-hidden="true"></i></a></p>        
      </div>
      <div class="toolbar-content">
        <div class="locationbar"> <!-- ng-controller="locationController" -->
          sh:home <!-- {{ breadcrumb }} -->
        </div>
        <div class="actionbar" ng-controller="filesController">
          <ul>
            <li class="flat" ngf-select="consumeFiles($files)" ng-model="droppedFiles" ngf-multiple="true">
              <i class="fa fa-file" aria-hidden="true"></i>  
            </li>
            <li class="flat">
              <i class="fa fa-folder" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
        <div class="searchbar" ng-controller="searchController">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" ng-model="searchQuery.q" />
        </div>
      </div>
    </div>

    <div class="container">      
      <!-- Main content body -->
      <div ng-view class="content col"></div>
    </div>

    <div class="userbar" ng-class="{ hovered: isHovered }" ng-controller="userbarController" ng-mouseenter="toggleHover(true)" ng-mouseleave="toggleHover(false)">
      <div class="container column">
        <div class="userbar-avatar col">
          <div class="avatar">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>

    <script src="sh.js"></script>
    <script src="sh.routes.js"></script>
    <script src="sh.dependencies.js"></script>

    <script src="components/files/files.controller.js"></script>
    <script src="components/files/files.service.js"></script>
    <script src="components/files/fileDetails.directive.js"></script>
    <script src="components/settings/settings.controller.js"></script>
    <script src="components/settings/settings.service.js"></script>
    <script src="components/nav/nav.controller.js"></script>
    <script src="components/userbar/userbar.controller.js"></script>
    <script src="components/search/search.controller.js"></script>
    <script src="components/search/searchDetails.directive.js"></script>

    <script src="globals/message.service.js"></script>
  </body>
</html>

