<div id="files">
  <div class="bar" ng-if="files.loaded && files.working.length">
    <!-- Working files container -->
    <div class="container-files" ng-if="files.loaded && files.working.length > 0">
      <table>
        <thead>
          <tr>
            <th>File</th>
            <th>Message</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="row unselectable" ng-repeat="f in files.working">
            <td>
              <span ng-if="f.state === 3"><i class="fa fa-cloud-download"></i></span> <!-- Pending download -->
              <span ng-if="f.state === 4 && f.error === 0"><i class="fa fa-exclamation"></i></span> <!-- Error, name conflict -->
              <span ng-bind="f.name"></span>
            </td>
            <td>Name conflict</td>
            <td><button class="btn">Rename</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  <!-- todo: need to iron-out the role for this bar -->

  <button class="btn" ngf-select="consumeFiles($files)" ng-model="droppedFiles" ngf-multiple="true">Add file(s)</button>

  <!-- Main files container -->
  <div class="container-files draggable" ngf-drag-over-class="'dragging'" ngf-drop="consumeFiles($files)" ng-model="droppedFiles" ngf-multiple="true" ng-if="files.loaded && files.complete.length > 0">
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" ng-class="{ selected: selectedFile._id === f._id }" ng-repeat="f in files.complete" ng-click="select(f)">
          <td><i class="fa fa-file-text-o"></i><span ng-bind="f.name"></span></td>
          <td ng-bind="f.lastModified"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- If no files (drag or click) -->
  <div class="dropzone" ng-class="{ disabled : files.loaded && files.complete.length > 0 }" ngf-drop="consumeFiles($files)" ngf-select="consumeFiles($files)" ng-model="droppedFiles" ngf-multiple="true">
    <p>Click here or drag-in file(s)</p>
  </div>

  <!-- Slideout -->
  <div class="slideout" ng-class="{ open: isSelected }">
    <div class="ruler"></div>
    <file-details file="selectedFile"></file-details>
  </div>
</div>