<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Fort Awesome -->
    <!--<script src="https://use.fortawesome.com/98980ce8.js"></script>-->

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,800' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <!--<link rel="stylesheet" href="bower_components/concise/dist/concise.min.css">
    <link rel="stylesheet" href="assets/style/logos.css">
    <link rel="stylesheet" href="assets/style/goodrating.css">-->
  </head>
  <body>

    <div class="hello">Home</div>
    
  </body>
</html>