:root {
  overflow: hidden;
}

html, 
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  height: 100%;
  overflow: hidden;
}

a {
  cursor: default;
}

/* Tables */

table {
  /* 
    Fixes a weird bug in Chromium 55.... still trying to figure it out,
    but without this, the page won't repaint when the User selects a table row +
    the table being wide-enough to not have to scroll-x
  */
  
  width: calc(100% + 1px);
  height: calc(100% + 1px); 
  
  /* **** */

  border: none;
  font-size: 12px;
}

table td,
table th {
  border-right: none;
  padding: 4px 24px;
  line-height: 46px;
}

table td:first-child,
table th:first-child {
  padding: 0;
  text-align: center;
}

table thead {
  color: #888;
  background-color: rgba(0, 0, 0, 0.15);
}

table td.name {
  font-weight: 600;
}

table td.filestate {
  font-size: 6px;
}

table td.filestate i {
  color: #febd3e;
}

table td.filestate.filelocked i {
  color: #333;
}

/* Forms */

input:not([type="submit"]),
input:not([type="submit"]):focus,
textarea,
textarea:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  border-radius: 0;
  box-shadow: none;
}

input:not([type="submit"]) {
  height: 43px; 
}

/* Containers */

div {
  overflow: hidden;
}

.content {
  background-color: #eee;
}

.container {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  transition: background 200ms;
}

.container.column {
  flex-direction: column;
  height: auto;
}

.container.darken {
  background-color: #555;
}

.col {
  height: 100%;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-wrap: nowrap;
  align-self: stretch;
  padding-bottom: 65px;
}

nav {
  height: 65px;
  line-height: 65px;
  overflow: hidden;
  color: #fff;
}

nav .user {
  width: 120px;
  float: right;
}

nav .side i {
  color: #333;
}

.side {
  height: 100%;
  min-width: 65px;
  background-color: #fff;
  color: #333;
}

.side .navlink {
  height: 65px;
  line-height: 65px;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.navlink a {
  display: inline-block;
  color: #333;
  height: 65px;
  line-height: 65px;
  width: 100%;
  text-align: center;
  transition: background 300ms;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.navlink a.active {
  border-left: 3px solid #333;
}

.navlink i {
  line-height: 65px;
  font-size: 22px;
}

.container-files {
  width: 100%;
  color: #333;
  overflow-y: auto;
  overflow-x: auto;
}

.container-files table {
  margin-bottom: -65px;
}

.container-files .row {
  padding: 0 25px;
  user-select: none;
}

.container-files .row.working {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ddd;
}

.container-files .row:nth-child(even) td {
  background-color: rgba(0, 0, 0, 0.03);
}

.container-files .row:not(.unselectable):not(.working):hover td,
.container-files .row.selected td {
  background-color: #fff;
  color: #333;
}

.container-files .row .fa {
  line-height: 48px;
  font-size: 16px;
  margin-left: 24px;
}

.container-files .row td.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-files td.filesize {
  min-width: 60px;
}

.container-files td.date {
  min-width: 100px;
}

.container-file-details {
  padding: 25px;
}

.container-file-details h1 {
  color: #333;  
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  line-height: 1.25em;
}

.dropzone {
  position: fixed;
  top: 65px;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  background: url(../images/file-add.svg) center center no-repeat;
  background-size: 96px 96px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 200ms, color 200ms;
}

.dropzone p {
  user-select: none;
  text-align: center;
}

.dropzone.disabled {
  color: transparent;
  pointer-events: none;
  background: none;
}

.dropzone:not(.disabled):hover {
  background-color: #fff;
  color: transparent;
  cursor: pointer;
  border: 3px dashed #ccc;
}

.dropzone:not(.disabled) .spinnything,
.draggable .spinnything {
  opacity: 0;
  position: fixed;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: transparent;
  border: 5px dashed rgba(100, 100, 100, 0.1);
  transition: opacity 1000ms;
}

.dropzone:not(.disabled):hover .spinnything,
.draggable.dragging .spinnything {
  opacity: 1;
  animation: spinny 2000ms infinite linear;
}

@keyframes spinny {
  from { 
    transform: rotate(0deg); 
  }
  to { 
    transform: rotate(360deg); 
  }
}

.draggable {
  transition: background 200ms, color 200ms;
  background-color: inherit;
  background-size: 0px 0px !important;
  background: url(../images/file-add.svg) center center no-repeat;
}

.draggable.dragging {
  background-color: #fff !important;
  color: transparent !important;
  background-size: 96px 96px !important;
  cursor: -webkit-grabbing !important;
  border: 3px dashed #ccc;
}

.draggable.dragging table {
  visibility: hidden;
}

.slideout {
  position: fixed;
  top: 65px;
  right: 0;
  bottom: 0;
  left: auto;
  margin-right: -350px;
  width: 350px;
  background-color: #fff;
  color: #333;
  z-index: 1;
  transition: margin 200ms ease-in;
}

.slideout.open {
  margin-right: 0;
  transition: margin 200ms ease-out;
}

.dragging .slideout.open {
  margin-right: -350px;
  transition: margin 200ms ease-out;
}

.padding {
  padding: 0px 18px;
}

.toolbar {
  background-color: #fff;
  height: 65px;
  line-height: 48px;
}

.toolbar .side {
  background-color: #febd3e;
}

.toolbar .side i {
  color: rgba(0,0,0,0.7);
}

.toolbar-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-wrap: nowrap;
  align-self: stretch;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
}

.actionbar {
  display: inline-flex;
  padding: 0 12px;
  height: 32px;
  min-width: 100px;
}

.actionbar ul {
  display: flex;
  align-items: center;
  align-content: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.actionbar ul li {
  display: inherit;
  align-items: inherit;
  align-content: inherit;
  width: 32px;
}

.actionbar ul li i {
  margin: 0 auto;
}

.searchbar {
  display: inline-flex;
  background-color: #febd3e;
  color: #fff;
  border-radius: 16px;
  padding: 0 12px;
  max-width: 300px;
  width: 100%;
  height: 32px;
}

.searchbar i {
  line-height: 32px;
}

.searchbar input,
.searchbar input:focus {
  background-color: transparent;
  line-height: 32px;
  height: 32px;
  font-weight: 600;
}

.userbar {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: 1;
  background-color: #febd3e;
  transform: rotate(-45deg);
  transform-origin: top right;
}

.userbar.hovered {
  animation: hinge 200ms 1 ease-in forwards;
  animation-delay: 200ms;
}

@keyframes hinge {
  from { 
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.userbar-avatar {
  padding: 12px;
  align-self: flex-end; 
  width: 100px;
  height: 100%;
}

.userbar-avatar .avatar {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.4);
  overflow: hidden;
}

.userbar-avatar .avatar i {
  line-height: 40px;
  font-size: 40px;
  color: #fff;
}

/* Buttons */

button.btn {
  background-color: transparent;
  border: 3px solid #333;
  color: #333;
  font-weight: 600;
  line-height: 32px;
  padding: 0 2em;
}

.flat,
.flat:active {
  transition: background 500ms, color 200ms;
  border: 3px solid transparent;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 0;
  padding-left: 0;
  background-color: #eee;
  color: #999;
  border: 2px solid transparent;
}

.flat:hover,
.flat:focus {
  border: 2px solid #eee;
  background-color: #fff;
  color: #febd3e;
}

/* Colors and Gradients */

.co-darkest {
  color: #22313F;
}

.co-dark {
  color: #34495E;
}

.co-light {
  color: #8DC6FF;
}

.co-lightest {
  color: #E4F1FE;
}

.bg-darkest {
  background-color: #22313F;
}

.bg-dark {
  background-color: #34495E;
}

.bg-light {
  background-color: #8DC6FF;
}

.bg-lightest {
  background-color: #E4F1FE;
}

.gradient {
  background: linear-gradient(to top, rgb(11, 0, 14), rgb(91, 0, 114));
}

/* Helpers */

.arrow {
  cursor: default;
}

.ruler {
  display: block;
  height: 3px;
  background-color: #333;
}

.dots {
  background:
    -webkit-radial-gradient(#eee 5%, transparent 5%),
    -webkit-radial-gradient(#eee 5%, transparent 5%),
    #fff;
    background-position: 0 0, 80px 80px;
    background-size: 80px 80px;
    background-repeat: repeat;
}