:root {
  overflow: hidden;
}

html, 
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  background-color: #eee;
  height: 100%;
  overflow: hidden;
}

a {
  cursor: default;
}

/* Tables */

table {
  margin: 0;
  width: 100%;
  border: none;
  font-size: 12px;
}

table.fixed {
  table-layout: fixed;
  left: 65px;
}

table td,
table th {
  border-right: none;
}

table td,
table th {
  padding: 0 24px;
}

table td:first-child,
table th:first-child {
  padding: 0;
  text-align: center;
}

table thead {
  background-color: #e5e5e5;
}

table {
  font-weight: 600;
}

table td.filestate {
  font-size: 6px;
}

table td.filestate i {
  color: #febd3e;
}

table td.filestate.filelocked i {
  color: #333;
}

table i.fa {
  text-shadow: 2px 2px 0px #fff;
}

/* Forms */

input:not([type="submit"]),
input:not([type="submit"]):focus,
textarea,
textarea:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  border-radius: 0;
  box-shadow: none;
}

input:not([type="submit"]) {
  height: 43px; 
}

/* Containers */

div {
  overflow: hidden;
}

.container {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.col {
  height: 100%;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-wrap: nowrap;
  align-self: stretch;
  padding-bottom: 65px;
}

nav {
  height: 65px;
  line-height: 65px;
  overflow: hidden;
  color: #fff;
}

nav .user {
  width: 120px;
  float: right;
}

nav .side i {
  color: #333;
}

.side {
  height: 100%;
  width: 65px;
  background-color: #fff;
  color: #333;
}

.side .navlink {
  height: 65px;
  line-height: 65px;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.navlink a {
  display: inline-block;
  color: #333;
  height: 65px;
  line-height: 65px;
  width: 100%;
  text-align: center;
  transition: background 300ms;
}

.navlink i {
  line-height: 65px;
  font-size: 22px;
}

.toolbar {
  background-color: #fff;
  height: 65px;
  line-height: 48px;
}

.container-files {
  color: #333;
  overflow-y: auto;
}

.container-files table {
  margin-bottom: -65px;
}

.container-files .row {
  padding: 0 25px;
  line-height: 36px;
  user-select: none;
}

.container-files .row {
  border-bottom: 1px solid #e5e5e5;
}

.container-files .row:not(.unselectable):hover,
.container-files .row.selected {
  background-color: #fff;
  color: #333;
}

.container-files .row .fa {
  line-height: 48px;
  font-size: 16px;
  margin-left: 24px;
}

.container-file-details {
  /*border-top: 3px solid #ddd;*/
  padding: 25px;
}

.container-file-details h1 {
  color: #333;  
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  line-height: 1.25em;
}

.dropzone {
  position: fixed;
  top: 52px;
  right: 4px;
  bottom: 4px;
  left: 69px;
  color: #fff;
  font-size: 3em;
  font-weight: 600;
  background: url(../images/file-add.svg) center center no-repeat;
  background-size: 96px 96px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 200ms, color 200ms;
}

.dropzone p {
  user-select: none;
  text-align: center;
}

.dropzone.disabled {
  color: transparent;
  pointer-events: none;
  background: none;
}

.dropzone:not(.disabled):hover {
  background-color: #fff;
  color: transparent;
  cursor: pointer;
  border: 3px dashed #ccc;
}

.draggable {
  transition: background 200ms, color 200ms;
  background: url(../images/file-add.svg) center center no-repeat;
}

.draggable.dragging {
  background-color: #fff !important;
  color: transparent !important;
  cursor: -webkit-grabbing !important;
  background-size: 96px 96px;
  border: 3px dashed #ccc;
}

.draggable.dragging table {
  visibility: hidden;
}

.slideout {
  position: fixed;
  top: 65px;
  right: 0;
  bottom: 0;
  left: auto;
  /*border-left: 3px solid #ddd;*/
  margin-right: -350px;
  width: 350px;
  background-color: #fff;
  color: #333;
  z-index: 1;
  transition: margin 200ms ease-in;
}

.slideout.open {
  margin-right: 0;
  transition: margin 200ms ease-out;
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.padding {
  padding: 0px 18px;
}

/* Buttons */

button.btn {
  background-color: transparent;
  border: 3px solid #333;
  color: #333;
  font-weight: 600;
  line-height: 32px;
  padding: 0 2em;
}

/* Colors and Gradients */

.co-darkest {
  color: #22313F;
}

.co-dark {
  color: #34495E;
}

.co-light {
  color: #8DC6FF;
}

.co-lightest {
  color: #E4F1FE;
}

.bg-darkest {
  background-color: #22313F;
}

.bg-dark {
  background-color: #34495E;
}

.bg-light {
  background-color: #8DC6FF;
}

.bg-lightest {
  background-color: #E4F1FE;
}

.gradient {
  background: linear-gradient(to top, rgb(11, 0, 14), rgb(91, 0, 114));
}

/* Helpers */

.arrow {
  cursor: default;
}

.ruler {
  display: block;
  height: 3px;
  background-color: #333;
}

.dots {
  background:
    -webkit-radial-gradient(#eee 5%, transparent 5%),
    -webkit-radial-gradient(#eee 5%, transparent 5%),
    #fff;
    background-position: 0 0, 80px 80px;
    background-size: 80px 80px;
    background-repeat: repeat;
}